// Global Variables/Mixins/Extends
////////////////////////////////////


$primaryFont:  'Nunito', sans-serif;

$white: #FEFEFE;
$black: #111;
$lightGray: #ebeaea;

$brandOne: #f38020;
$brandTwo: #faae40;
$brandThree: #404041;
$brandFour: #F9BC8B;

$green: #00ac46;
$yellow: #fdc500;
$red: #dc0000;

$site-border-radius: 6px;

%transitions {
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}


// Base Styles
////////////////////////////////////

html{
    height: 100%;

    *{
        box-sizing: border-box;
    }

}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $white;
    color: $brandThree;
    font-family: $primaryFont;
    line-height: 1.3;
}

.wrap{
    position: relative;
    display: block;
    margin: 0 auto;
    width: min(84%, 1640px);

}

.center{
    text-align: center;
    justify-content: center;
}

h1,
.h1,
h2,
.h2,
h3,
.h3{
    margin: 0px 0px 16px;
    font-weight: 700;
    line-height: 1.15;
}

h1,
.h1{
    font-size: 40px;
}

h2,
.h2{
    font-size: 32px;
}

h3,
.h3{
    font-size: 26px;
}

h4,
.h4{
    font-size: 22px;
}

.btn{
    display: inline-block;
    background-color: $brandTwo;
    border: initial;
    border-radius: 6px;
    color: $brandThree;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    @extend %transitions;

    &:hover{
        background-color: $brandOne;
    }

}

.icon-button{
    position: relative;
    padding: 0px;
    height: 35px;
    width: 35px;
    border: initial;
    background: initial;
    cursor: pointer;
    @extend %transitions;

    &:hover{
        color: $brandOne;
    }

    &.reverse{
        color: $brandOne;
        &:hover{
            color: $brandThree;
        }
    }

    &::before{
        content: "";
        font-family: 'Font Awesome 5 Free';
        font-size: 20px;
        font-weight: 900;
    }

    &.close{
        &::before{
            content: "\f057";
        }
    }

    &.complete{
        &::before{
            content: "\f00c";
        }
    }

    &.edit{
        &::before{
            content: "\f044";
        }
    }

    &.delete{
        &::before{
            content: "\f1f8";
        }
    }

}


// Header
////////////////////////////////////

header{
    padding: 12px 0px;
    background-color: $brandOne;

    p{
        margin: 0px;
    }

    .logo{
        color: $brandThree;
        font-size: 24px;
        font-weight: 700;
    }

}


// Main Content
////////////////////////////////////

#content{
    flex: 1;
    display: flex;
}


#sidebar{
    padding: 40px 25px;
    width: clamp(320px, 20vw, 430px);
    background-color: darken($white, 7%);
}

#main{
    flex: 1;
    padding: 40px;

    .inner{
        margin: 0 auto;
        width: min(100%, 1220px);
    }

}


// Projects List
////////////////////////////////////

#projects-list{
    margin: 40px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    button{
        padding: 10px;
        border: initial;
        background-color: $brandFour;
        color: $black;
        font-family: $primaryFont;
        font-weight: 600;
        font-size: 18px;
        border-radius: 24px;
        cursor: pointer;
        @extend %transitions;

        &.active{
            color: $white;
            background-color: $brandOne;

            &:hover,
        &:focus{
            background-color: darken($brandOne, 7%);
        }

        }

        &:hover,
        &:focus{
            background-color: darken($brandFour, 7%);
        }

    }

}


// Tasks List
////////////////////////////////////

#tasks-list{
    margin: 40px 0px 0px;
}

.no-tasks{
    padding: 18px 12px;
    border-top: 1px solid $lightGray;
    text-align: center;
}

.task-item{
    padding: 18px 12px;
    border-top: 1px solid $lightGray;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;

    &.status-complete{
        background-color: darken($white, 5%);

        .title{

            &::after{
                content: "- COMPLETE";
            }

        }

    }

    .priority{
        flex: 0 0 20px;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        border: 2px solid;

        &.low{
            border-color: $green;
        }

        &.medium{
            border-color: $yellow;
        }

        &.high{
            border-color: $red;
        }


    }

    .main{
        flex: 1;

        >*:first-child{
            margin-top: 0px;
        }

        >*:last-child{
            margin-bottom: 0px;
        }

    }

    p{
        margin: 4px 0px 0px;
        &.title{
            position: relative;
            margin: 0px;
            font-weight: 700;

            &::after{
                content: "";
                margin: 0px 0px 0px 3px;
                color: $brandOne;
            }

        }
    }

    .project,
    .date{
        font-weight: 600;
    }

    .project{
        margin-right: 5px;
        border-bottom: 2px solid $brandTwo;
    }

    .date{
        padding: 4px 8px;
        border-radius: $site-border-radius;
        background-color: $brandTwo;
    }

    .controls{
        display: flex;
        gap: 4px;
    }

}

// Modals
////////////////////////////////////

.modal-dialog{
    max-width: 440px;
    width: 100%;
    overflow: hidden;
}

.modal-header{
    padding: 12px 16px;
    background-color: $brandOne;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        margin: 0px;
    }

    button{
        color: $white;

        &:hover{
            &::before{
                color: $brandThree;
            }
        }

    }

}

.modal-body{
    padding: 12px 16px;
}

// Forms
////////////////////////////////////

input[type=text],
input[type=date],
select,
textarea{
    width: 100%;
}

.form-group{
    margin: 0px 0px 12px;

    label{
        display: block;
        font-size: 18px;
        font-weight: 600;
    }

}